*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: purple;
    margin: 60px;
}

section {
    text-align: center;
}

div {
    align-items: center;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: -1.6px;
   
}


#corner {
    border: 3px solid #000;
    background-color: #FF0000;
}

.vermelho {
    background-color: #FF0000;

}

.azul {
    background-color: #00B0F0;
}

.amarelo {
    background-color: #FFFF00;
}

.verde {
    background-color: #00B050;
}

footer {
    font-family: cursive;
    color: purple;
    margin:50px;
}